@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

:root {
  --primary-color: #4158d0;
}

// $bs-body-bg: linear-gradient(to bottom, blue, red);
$bs-body-bg: #0a4c86;
$bs-body-bg-end: #6cfa9f;

$section-bg: rgba(14, 83, 144, 0.3);

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  // background: linear-gradient(to bottom, rgb(61, 119, 139), #0a4c86) !important;
  background-color: #0a4c86 !important;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@media only screen and (min-width: 1080px) {
}

.section-title {
  font-family: "Major Mono Display", sans-serif;
  text-align: center;
  font-weight: 800;
  // color: #99ffbe;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 1em;
}

.react-container {
  width: 60% !important;
}

@media screen and (max-width: 768px) {
  .react-container {
    width: 90% !important;
  }
}
