.sponsors {
  border-radius: 50px;
  background: #0a4c86 !important;
  // background: rgb(180, 215, 255) !important;
  box-shadow: 32px 32px 63px #094172, -32px -32px 63px #0c579a;
  width: 60%;
  margin: auto;
  padding-top: 2em;
  padding-bottom: 2em;
}

.sponsors-text {
  color: white;
  text-align: center;
  font-size: 1.5em;
  padding-top: 2em;
}

.plat-sponsor-logos, .gold-sponsor-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  img {
    width: 35vw; 
    height: 35vw;
    max-width: 300px;
    max-height: 300px;
  }
}

.silver-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6em auto auto auto;

  img {
    width: 12vw; 
    height: 12vw;
    max-width: 150px;
    max-height: 150px;
    margin-right: 1.5em;
    margin-left: 1.5em;
  }
}

.in-kind-row {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 12vw; 
    height: 12vw;
    max-width: 150px;
    max-height: 150px;
    margin-right: 1.5em;
    margin-left: 1.5em;
    margin-top: 0.75em;
    margin-bottom: 0.25em;
  }
}

.logo {
  margin: 2em;
}

#sponsors {
  width: 100%;
}



// Sponsor logo configuration
// gold

// silver

#codeninjas {
  height: 8vw;
}


// in-kind

#roboflow {
  width: 15vw;
  height: 7vw;
}

#voiceflow {
  width: 12vw;
  height: 5vw;
}

#interviewcake {
  width: 15vw;
  height: 5vw;

}

@media screen and (max-width: 800px) {
  .sponsors {
    width: 80%;
  }

  .silver-row {
    img {
      margin-right: 1em;
      margin-left: 1em;
    }
  }

  .in-kind-row {
    img {
      margin-right: 1em;
      margin-left: 1em;
    }
  }
}

@media screen and (max-width: 500px) {
  .silver-row {
    img {
      margin-right: .5em;
      margin-left: .5em;
    }
  }

  .in-kind-row {
    img {
      margin-right: .5em;
      margin-left: .5em;
    }
  }
}