.sponsors-text {
  color: white;
  text-align: center;
  font-size: 1.5em;
  padding-top: 2em;
}

.plat-sponsor-logos, .gold-sponsor-logos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.silver-sponsor-logos {
  margin-top: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  margin: 2em;
}

#sponsors {
  width: 100%;
}
