.sponsors-text {
  color: white;
  text-align: center;
  font-size: 1.5em;
  padding-top: 2em;
}
#sponsor_logos {
  display: flex;
  align-items: center;
  justify-content: center;

}

#sponsors {
  width: 100%;
}
